//--------------------------------------------------------------------------
rule "Rule ON"
when
	$Starttime
then
	DO SOMETHING
	
end

//--------------------------------------------------------------------------
rule "Rule OFF"
when
	$Endtime
then
	DO SOMETING
	
end